<ion-header>

    <ion-navbar>
        <ion-title>login</ion-title>
    </ion-navbar>

</ion-header>

<ion-content class="login-content" padding>

    <div class="login-box">
        <form (ngSubmit)="login()" #loginForm="ngForm">
            <ion-row>
                <ion-col>
                    <ion-list inset>

                        <ion-item>
                            <ion-input type="text" placeholder="Email" name="email" [(ngModel)]="credentials.email" required></ion-input>
                        </ion-item>

                        <ion-item>
                            <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="credentials.password" required></ion-input>
                        </ion-item>

                    </ion-list>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col class="signup-col">
                    <button ion-button class="submit-btn" full type="submit" [disabled]="!loginForm.form.valid">Login</button>
                    <button ion-button class="register-btn" block clear (click)="goToRegisterPage()">Create New Account</button>
                </ion-col>
            </ion-row>

        </form>
    </div>
</ion-content>