<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>News listing</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let news_item of news" (click)="openItem(news_item.id)">
     
      <p class="nowarp" >{{news_item.title}} </p>
      
    </ion-item>
  </ion-list>
</ion-content>
