<ion-header>

  <ion-navbar>
    <ion-title>detail</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <!--<div class="item-profile" text-center #profilePic [style.background-image]="'url(' + item.profilePic + ')'">
  </div>-->

  <div class="item-detail" padding>
    <h2>{{news_detail.title}}</h2>
    <p>{{news_detail.detail}}</p>
  </div>
</ion-content>
