<ion-header>
  <ion-navbar  hideBackButton>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Cat Page</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let cat of cats">
      <ion-avatar item-left>
        <img src="{{cat.img}}">
      </ion-avatar>
      <h2>{{cat.cat_name}} </h2>
      <p>{{cat.description}}</p>
    </ion-item>
  </ion-list>
</ion-content>
