<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Notes listing</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-input placeholder="Note" [(ngModel)]="note.title"></ion-input>
    </ion-item>
    <ion-item>
        <button ion-button block small (click)=addItem(note.title)>Add Note</button>
        <button ion-button block small (click)=deleteFromStorage()>Delete from storage</button>
        <button ion-button block small (click)="updateToServer()" *ngIf="this.auth.isLoggedIn()">Save to server</button>
    </ion-item>
    <ion-list>
        <ion-item *ngFor="let note of notes; let i = index;">

            <span class="nowarp">{{note.title}} 
      </span>
            <button ion-button outline icon-only style="float:right;padding:0 10px;" (click)=deleteItem(i)>
            <ion-icon name="close"></ion-icon>
        </button>
        </ion-item>
    </ion-list>
</ion-content>